.seller-container {
    background: #fff;
    position: absolute;
    top: 30%;
    left: 5%;
    right: 5%;
    border-radius: 5px;
}

.btn {
    margin: 0;
    padding: 2rem;
    text-align: center;
    font-weight: 800;
    border-bottom: 1px solid #015C92;
}

.btn:hover {
    color: #fff;
    background: #015C92;
}


@media screen and (min-width: 768px) {
    .seller-container {
        left: 15%;
        right: 15%;
    }
}

@media screen and (min-width: 1024px) {
    .seller-container {
        left: 30%;
        right: 30%;
    }
}