.seller-container {
    background: #fff;
    position: absolute;
    top: 30%;
    left: 5%;
    right: 5%;
    border-radius: 10px;
}

.clickable {
    margin: 0;
    padding: 2rem;
    text-align: center;
    color: #015C92;
    font-weight: 800;
    cursor: pointer;
}

.clickable:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #015C92;
}

.clickable:nth-child(3) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #015C92;
}

.clickable:hover {
    color: #fff;
    background: #015C92;
}


@media screen and (min-width: 768px) {
    .seller-container {
        left: 15%;
        right: 15%;
    }
}

@media screen and (min-width: 1024px) {
    .seller-container {
        left: 30%;
        right: 30%;
    }
}