.form-container {
    display: relative;
}

.divide-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
}