.wallet-container {
    background: #fff;
    color: #015C92;
    font-weight: 600;
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    border-radius: 10px;
}

.wallet-form-head {
    font-size: 1.4rem;
    margin: 0;
}

.wallet-input-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 10px;
}

.wallet-input-container label {
    margin-bottom: 3px;
    font-size: 1rem;
    font-weight: 700;
}

.wallet-input-container input,select {
    border: none;
    padding: 10px;
    background: rgb(247, 248, 250);
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #2075bc;
}

.wallet-input-container input:focus {
    outline: 0;
}

.wallet-btn-container {
    margin-top: 1rem;
}

.wallet-container .close {
    background: rgb(240, 78, 78);
    margin-left: 1rem;
}


@media screen and (min-width: 768px) {
    .wallet-container {
        top: 10%;
        left: 15%;
        right: 15%;
    }
}

@media screen and (min-width: 1024px) {
    .wallet-container {
        left: 30%;
        right: 30%;
    }
}