.servicefees-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #015C92;
    font-weight: 600;
    position: absolute;
    top: 20%;
    left: 2%;
    right: 2%;
    bottom: 30%;
    border-radius: 10px;
}

.servicefees-container form {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.form-head {
    font-size: 1.4rem;
    margin: 0;
}

.radioBtn-container {
    margin: .5rem 0;
    display: flex;
    align-items: center;
}

.radio-Btn {
    margin: .3rem;
    font-weight: bold;
}

.form-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: .2rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(204, 201, 201);
    border-radius: 5px;
}

.input-label-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: .2rem;
}

.input-label-container input {
    width: 90%;
    border: none;
    padding: 10px;
    background: rgb(247, 248, 250);
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #2075bc;
}

.input-label-container input:focus {
    outline: 0;
}

.addForm-container {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addForm-container .addForm{
    background: gray;
}

.servicefees-container .close {
    background: rgb(240, 78, 78);
    margin-left: 1rem;
}

.slab-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.slab-container .slab {
    margin: 1rem .5rem;
}

.slab label {
    margin-right: .2rem;
    color: rgb(159, 167, 167);
}

@media screen and (min-width: 640px) {
    .form-inputs-container {
        flex-direction: row;
    }
    .input-label-container input {
        width: 6.5rem;
    }
}

@media screen and (min-width: 768px) {
    .servicefees-container {
        left: 10%;
        right: 10%;
    }
}

@media screen and (min-width: 1024px) {
    .servicefees-container {
        left: 20%;
        right: 20%;
    }
}