.login-form {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.login-form .logo {
    width: 3rem;
    margin-bottom: 1rem;
}

form {
    padding: 20px;
    background: #b6afaf;
    border-radius: 5px;
}
footer{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: aliceblue;
    text-align: center;
    padding: 0 4%;
}

form img {
    width: 1.5rem;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    margin-bottom: 20px;

}

.title img {
    width: 2rem;
    margin-right: .5rem;
}

.title h3 {
    font-size: 1.5rem;
    color: #fff;
    margin: 0;
}

.input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    background: #fff;
    border: 1px solid #000;
}

.input-field input {
    border: none;
    padding: 5px 10px;
    background: #fff;
    font-size: 1rem;
}

.input-field .icon-container {
    color: gray;
    font-size: 1.5rem;
}

.input-container {
    color: #fff;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
}


@media only screen and (min-width: 768px) {
    .input-field input {
        width: 250px;
    }
    .login-form .logo {
        width: 5rem;
        margin-bottom: 3rem;
    }
}