.table-container {
  margin: auto;
  width: 100%;
}

table {
  width: 100%;
}

th {
  text-align: left;
  padding: 12px 24px;
  background: transparent;
  box-shadow: none;
  color: #2d83b5;
  font-size: 0.65rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.035em;
  border-bottom: 0.05rem solid rgb(240, 242, 245);
}
tbody {
  display: table-row-group;
}
tr {
  color: inherit;
  display: table-row;
  vertical-align: middle;
  outline: 0px;
}
td {
  text-align: left;
  padding: 12px 24px;
  background: transparent;
  box-shadow: none;
  border-bottom: 0.05rem solid rgb(240, 242, 245);
}

td span {
  margin: 0px;
  font-size: 0.65rem;
  line-height: 1.25;
  letter-spacing: 0.035em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: gray;
  font-weight: 700;
}

.menu-list {
  position: relative;
  cursor: pointer;
}

.status-container {
  display: flex;
  align-items: center;
}
.dashboard-content-icon {
  width: 20px;
  margin-right: 10px;
}

.hide-item {
  display: none;
}

@media screen and (max-width: 810px) {
  thead {
    display: none;
  }
  tr {
    display: block;
    margin-bottom: 0.625em;
    border: 1px solid #004b77;
    border-radius: 5px;
  }

  td {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8em;
    border-bottom: 0.02rem solid rgb(164, 198, 245);
  }

  td:last-child {
    border-bottom: none;
  }

  td span {
    color: #004b77;
  }

  td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 1rem;
    font-size: 0.65rem;
    color: gray;
  }
}
