.table-container {
    margin: auto;
}

th {
    text-align: left;
    padding: 12px 24px;
    background: transparent;
    box-shadow: none;
    color: #2D83B5;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.035em;
    border-bottom: 0.05rem solid rgb(240, 242, 245);
}
tbody {
    display: table-row-group;
}
tr {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0px;
}
td {
    text-align: left;
    padding: 12px 24px;
    background: transparent;
    box-shadow: none;
    border-bottom: 0.05rem solid rgb(240, 242, 245);
}

td span {
    margin: 0px;
    font-size: 0.75rem;
    line-height: 1.25;
    letter-spacing: 0.035em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: gray;
    font-weight: 700;
}

.status-container {
    display: flex;
    align-items: center;
}
.dashboard-content-icon {
    width: 20px;
    margin-right: 10px;
}

@media screen and (max-width: 1110px) {
    thead {
        display: none;
    }
    tr {
        width: 60vw;
        display:block;
        margin-bottom: .625em;
        border: 1px solid #004B77;
        border-radius: 5px;
      }
      
    td {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .8em;
        border-bottom: 0.02rem solid rgb(164, 198, 245);
      }

    td:last-child {
        border-bottom: none;
      }

    td span {
        color: #004B77;
    }

    td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 1rem;
        font-size: 0.65rem;
        color: gray;
      }
}

@media screen and (max-width: 668px) {
    tr {
        width: 70vw;
    }
}