.app {
    position: relative;
}

.container {
    display: flex;
}

.dashboard-body {
    padding: 0 .5rem;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .dashboard-body {
        padding: 0 2%;
    }
  }