.resetForm-container {
    position: absolute;
    top: 100px;
    bottom: 20px;
    left: 30%;
    right: 30%;
    z-index: 99;
    overflow-y: auto;
}

.resetForm-container form {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.resetForm-container .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #2075bc;
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #2075bc;
}


.resetForm-container .title h3 {
    margin: 0 5px;;
}

.resetForm-container .input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 1px solid #2075bc;
    border-radius: 5px;
}

.resetForm-container .input-field input {
    border: none;
    padding: 2px 5px;
    background: #fff;
    font-size: 1rem;
}

.resetForm-container .input-field input:focus {
    outline: 0;
}

.resetForm-container .input-field .icon-container {
    margin: 0;
    color: #2075bc;
    font-size: 1.5rem;
    cursor: pointer;
}

.resetForm-container .input-container {
    color: #2075bc;
    margin-bottom: 20px;
}

.resetForm-container button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #2075bc;
    border: none;
    border-radius: 5px;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.resetForm-container button:hover {
    padding: 10px 25px;
}

.resetForm-container .cancel-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    border: 2px red solid;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.resetForm-container .cancel-icon:hover {
    padding: 7px;
    border: 3px red solid;
}
.resetForm-container .notification {
    color: red;
}

@media only screen and (min-width: 768px) {
    .resetForm-container .input-field input {
        width: 250px;
    }
}

@media only screen and (max-width: 1024px) {
    .resetForm-container {
        left: 20%;
        right: 20%;
    }
}

@media only screen and (max-width: 640px) {
    .resetForm-container {
        left: 3%;
        right: 3%;
    }
}